<main>
   <div class="row">
      <div class="col-md-5">
         <br>
         <h2>Create an Event</h2>
         <form method="POST" id="createevent-form" action="/create-event">

          <div class="row mb-2">
         <label for="name" class="col-sm-2 col-form-label">Name : </label>
         <div class="col-sm-6">
            <input type="text" size = "25" class="input" id="name" name="name" placeholder="Enter the title of the event">
         </div>
         <div id="no-title" class="div-text"  hidden>Please enter the title of the Event</div>
      </div>

      <div class="row mb-2">
         <label for="date" class="col-sm-2 col-form-label">Date : </label>
         <div class="col-sm-6">
            <input type="date" class="input" id="date" name="date" placeholder="MM/DD/YYYY">
         </div>
         <div id="no-date" class="div-text" hidden>Please enter the date of the Event</div>
      </div>

      
      <div class="row mb-2">
         <label for="time" class="col-sm-2 col-form-label">Time : </label>
         <div class="col-sm-6">
            <input type="time" class="input" id="time" name="time" placeholder="XX:YY">
         </div>
         <div id="no-date" class="div-text" hidden>Please enter the date of the Event</div>
      </div>



    <div class="row mb-2">
         <label for="Venue" class="col-sm-2 col-form-label">Venue : </label>
         <div class="col-sm-6">
            <input type="text" class="input" id="venue" name="venue" placeholder="Enter the address">
         </div>
         <div id="no-first-name" class="div-text" hidden>Please enter your first name</div>
      </div>

      
         <div class="row mb-2">
         <label for="host" class="col-sm-2 col-form-label">Host : </label>
         <div class="col-sm-6">
            <input type="text" class="input" id="host" name="host" placeholder="Enter your name">
         </div>
         <div id="no-first-name" class="div-text" hidden>Please enter your first name</div>
      </div>


      <div class="row mb-2">
         <label for="description" class="col-sm-2 col-form-label">Description: </label>
         <div class="col-sm-6">
            <input type="text" size = "50" class="input" id="description" name="description" placeholder="Enter a description of the event">
         </div>
         <div id="no-description" class="div-text"  hidden>Please enter a description of the Event</div>
      </div>

     

      <br>
      <input type="submit" class="btnq" value="Create Event">
   </form>
   <br>
      </div>
</div>
</main>