<main>
   <div class="home">
      <br>
      <img id="home-image" src="https://media.istockphoto.com/id/1300081015/vector/people-family-diversity-colorful-overlap-overlapping-vector-icon-illustration.jpg?s=612x612&w=0&k=20&c=-3KqIjC-mljPNKyXGC0xhBQW95FTcAxPYvvFh0GeQBU=" alt="LEARNLOCALLY">
      <style>img{
         float: right;
         height: 900px;
         width:fit-content ;
         margin-top: -200px;
      }
      </style>
      <div class="col-md-6">
         <h2>Welcome to LearnLocally!</h2>
        <p style="font-size:larger"> In today's fast-paced world, community engagement is often overlooked, resulting in disconnected and isolated neighborhoods.Our platform serves as a hub where individuals from diverse backgrounds come together to share their expertise, learn new skills, and actively engage in their communities.</p>

        <br>
        <h3>How to use:</h3> 
        <ul>
        <li style="font-size:larger">Create a profile</li>
        <li style="font-size:larger">view all the skill sharing events and workshops happening around you. Enroll into the ones that you are interested in.</li>
        <li style="font-size:larger">Host an event/workshop.</li>
        </ul>
      </div>
   </div>
</main>

