<body>
    <br>
    <h2>Hosted Events :</h2>
    {{#each events}}
        <div class="events">{{this.name}} <br /> {{this.date}} <br /> {{this.time}} <br /> <br /></a></div>
    {{/each}}



   {{!--} <form action = "/allevents/request-event">
    <button type = "submit">Click here to request for an event!</button>
    </form>
    --}}



</body>