<style>
    #unregister {
      background-color: #116638;
      padding: 5px;
      color: white;
      margin-top: 20px;
    }
</style>
<div>
    Events and Workshops you have registered for:
</div>
{{#each events}}
<div>
    {{this.name}}
</div>
<form method="POST" action="/unregister">
    <input type="hidden" name="eventId" value={{this._id}}>
    <input type="submit" id="unregister" value="Unregister">
</form>
{{/each}}