<main>
   <div class="row">
      <div class="col-md-5">
         <br>
         <h2>Request an Event</h2>
         <form method="POST" id="requestevent-form" action="?">

 <div class="row mb-2">
               <label for="emailIdInput" class="col-sm-2 col-form-label">Email :</label>
               <div class="col-sm-6">
                  <input type="email" class="input" id="emailIdInput" name="emailIdInput"
                     placeholder="Enter your email address">
               </div>
 

      <div class="row mb-2">
         <label for="description" class="col-sm-2 col-form-label"> Description: </label>
         <div class="col-sm-6">
            <input type="text" class="input" id="description" name="description" placeholder="Enter a description">
         </div>
    
    <br>

      <input type="submit" class="btnq" value="Request Event">
   </form>
   <br>
      </div>
</div>
</main>