<main>
   <div class="row">
      <div class="col-md-12">
         <br>
         <h2>Messaging</h2>
         <form method="POST" id="postmessage-form" action="/send-message">

          <div class="row mb-2">
         <label for="name" class="col-sm-2 col-form-label">Email : </label>
         <div class="col-sm-6">
            <input type="text" size = "25" class="input" id="name" name="email" placeholder="Enter user email">
         </div>
         <div id="no-title" class="div-text"  hidden>Enter email address</div>
      </div>

      <div class="row md-12">
         <label for="description" class="col-sm-2 col-form-label">Description : </label>
         <div class="col-sm-12">
            <textarea class="input" cols="100" rows="5" id="description" name="description"></textarea>
         </div>
      </div>    

      <br>
      <input type="submit" class="btnq" value="Send">
   </form>
   <br>
      </div>
</div>
</main>