<body>
    <br>
    <h2>Upcoming Events and Workshops near you:</h2>
    {{#each events}}
        <div><a href="/allevents/{{_id}}">{{name}}</a></div>
    {{/each}}

    <br>
    <br>
    <br>

    <form action = "/allevents/request-event">
    <button type = "submit">Click here to request for an event!</button>
    </form>



</body>